html,body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  background: #F0F2F4;
  font-size: 16px;
    line-height: 30px;
    color: #696868;
    font-weight: 500;
    letter-spacing: 0.5px;
    font-family: "Open Sans", sans-serif;
}
.navbar.is-white {
  background: #F0F2F4;
}
.navbar-brand .brand-text {
  font-size: 1.11rem;
  font-weight: bold;
}

.hero-body
{background-image: url('../images/back_header.jpg');
background-position: center;
background-size: cover;
background-repeat: no-repeat;
color: #fff;
}

.hero-body h1, .hero-body h3{
  color:#fff;
}

.container .columns {
  margin: 3rem 0;
}

aside.menu {
  padding-top: 3rem;
}
aside.menu .menu-list {
  line-height: 1.5;
}
aside.menu .menu-label {
  padding-left: 10px;
  font-weight: 700;
}
.button.is-primary.is-alt {
  background: #00c6ff;
  background: -webkit-linear-gradient(to bottom, #0072ff, #00c6ff);
  background: linear-gradient(to bottom, #0072ff, #00c6ff);
  font-weight: 700;
  font-size: 14px;
  height: 3rem;
  line-height: 2.8;
}
.media-left img {
  border-radius: 50%;
}
.media-content p {
  font-size: 14px;
  line-height: 2.3;
  font-weight: 700;
  color: #8F99A3;
}
article.post {
  margin: 2rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #E6EAEE;
}
article.post:last-child {
  padding-bottom: 0;
  border-bottom: none;
}
.menu-list li{
  padding: 5px;
}

.is-large.fab {
  font-size: 7em;
}

.is-large.fas {
  font-size: 5em;
  margin-left: 0.2em;
}



.is-active{
  background-color: #F0F2F4 !important;
}


.home_image{
  width: 98%;
  height: 450px;
}

.is-xanh{
  background-color: #1eaedb;
  color: #fff;
}


p.post {
    font-size: 18px;
    line-height: 30px;
    color: #696868;
    font-weight: 500;
    letter-spacing: 0.5px;
    font-family: "Open Sans", sans-serif;
}


/*Tags*/
.meta-tags{
  clear: both;

}
.meta-tags li {
    display: inline;
    text-transform: uppercase;
    letter-spacing: 0.08em;
}

li {
    list-style-position: inside;
}
.meta-tags li a {
    background-color: #1eaedb;
}

.meta-tags a {
    
    display: inline-block;
    font-size: 0.75em;
    margin: 5px 10px 5px 0;
    padding: 0.05em 0.4em 0.15em 18px;
    background-image: url(../images/meta-tags.png);
    background-position: -10px 50%;
    background-repeat: no-repeat;
    color: #FFFEF7;
    font-weight: normal;
    border-radius: 0 3px 3px 0;
}


div.fixed{
  position: sticky;
  top: 1.125rem;
  position: -webkit-sticky;
  
}



