{% load static %}
  
  <div class="box ">
    <ul class="menu-list">
      <a href="{% url 'list_post' %}" class="item active"><span class="icon"><i class="fa fa-home"></i></span><span class="name">&nbsp; Trang chủ</span></a>
      <a href="" class="item"><span class="icon"><i class="fab fa-youtube"></i></span><span class="name">&nbsp; Youtube</span></a>
      <a href="#" class="item"><span class="icon"><i class="fa fa-pencil-square"></i></span><span class="name">&nbsp; Bài viết</span></a>
      <a href="#" class="item"><span class="icon"><i class="fa fa-book"></i></span><span class="name">&nbsp; Sách</span></a>
    </ul>
  </div>

  <p class="post menu-label">Các chủ đề viết</p>
  <div class="box">
    <ul class="meta-tags">
      <li><a href="">Django</a></li>
      <li><a href="">Module Python</a></li>
      <li><a href="">Python</a></li>
      <li><a href="">Web Scraping</a></li>
      <li><a href="">RESTful</a></li>
      <li><a href="">Chuyên đề Python</a></li>             
      <li><a href="">NumPy</a></li>             
      <li><a href="">Tensorflow</a></li>             
      <li><a href="">Pandas</a></li>             
      <li><a href="">Data Science</a></li>             
      <li><a href="">IELTS</a></li>             
    </ul>
</div>

{% if section == 'home' %}
    <p class="post menu-label">Giới thiệu</p>
  

  <div class="card is-shady">
    <div class="card-image">
      <figure class="image  is-1by1">
        <img src="{% static 'images/poster.jpg' %}" alt="Placeholder image">
      </figure>
    </div>
    <div class="card-content">
      <div class="content">
        <h3 style="text-align: center;">Trung Bát</h3>
        <h4 style="color: #1eaedb;text-align: center;">Web Developer</h4>
        <p class="post">Chào mọi người, tên mình là Trung. Mình đam mê nghiêm cứu và phát triển phầm mềm. Hiện đang học tập và làm việc tại <a>Hà Nội</a>. </p>
        

        <a style="background-color: #1eaedb" class="button is-danger modal-button" data-target="modal-card">Xem thêm</a>
      </div>
    </div>

  </div>
<!-- book aside -->
   <p class="post menu-label">Sách</p>

   <div class="card is-shady">
    <div class="card-image">
      <figure class="image is-4by5">
        <img src="https://images-na.ssl-images-amazon.com/images/I/31hQvUCeCBL.jpg" alt="Placeholder image">
      </figure>
    </div>
    <div class="card-content">
      <div class="content">
        <h3>Django for Beginners: Build websites with Python and Django</h3>
        <h4 style="color: #1eaedb;">by Kindle Edition</h4>
        <p class="post">Create, test, and deploy 5 progressively more complex websites including a Message Board app, a Blog app with user accounts, and a robust Newspaper app with reader comments and a complete user registration flow.</p>

        <a href= 'https://www.amazon.com/Django-Beginners-Build-websites-Python-ebook/dp/B079ZZLRRL/ref=sr_1_3?s=books&ie=UTF8&qid=1539695609&sr=1-3&keywords=Two+Scoops+of+Django' target="_blank" style="background-color: #1eaedb" class="button is-danger is-xanh">Xem thêm</a>
    
      </div>
    </div>
   </div>
          <!-- endbook -->

          <!-- 3dFlipVertical card tiny -->
    <div id="modal-card" class="modal modal-fx-3dSlit">
      <div class="modal-background"></div>
      <div class="modal-content is-tiny">
        <!-- content -->
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3">
              <img src="https://source.unsplash.com/6Ticnhs1AG0" alt="Placeholder image">
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-left">
                <figure class="image is-48x48">
                  <img src="{% static 'images/poster.jpg' %}" alt="Trung Bat avatar">
                </figure>
              </div>
              <div class="media-content">
                <p class="title is-4">Trung Bát</p>
                <p class="subtitle is-6"><a target="_blank"  href="https://www.facebook.com/bat.trung1">fc/bat.trung1</a></p>
              </div>
            </div>
            <div class="content">
             <p class="post">Chào mọi người, tên mình là Trung. Mình đam mê nghiêm cứu và phát triển phầm mềm. Hiện đang học tập và làm việc tại <a>Hà Nội</a>. Mình đang làm và phát triển dự án dựa trên Python và Django. Mình cũng dành nhiều thời gian nghiêm cứu về <b>Data Science</b> và <b>Machine Learning</b>.
             <br>
              Mình làm Blog này để chia sẻ những kiến thức về lập trình và tập trung vào mảng phát triển ứng dụng Web. Kiến thức này dựa trên những gì mình tự học và kinh nghiệm làm dự án. Thành thật mà nói, mình không phải chuyên về mảng phát triển phần mềm, mà chủ yếu làm về Data Science nhiều hơn.
              <br>
              Những ai đã và tìm hiểu về Python chắc hẳn sẽ biết về "The Zen Of Python". Trích dẫn:
              <br>
              <br>
              </p>
              <blockquote>
                <p class="post">The Zen of Python, by Tim Peters</p>
                <p class="post"> Beautiful is better than ugly.</p>
                <p class="post">Explicit is better than implicit.</p>
                <p class="post">Simple is better than complex.</p>
                <p class="post">Complex is better than complicated.</p>
                <p class="post">Flat is better than nested.</p>
                <p class="post">Sparse is better than dense.</p>
                <p class="post">Readability counts.</p>
                <p class="post">Special cases aren't special enough to break the rules.</p>
                <p class="post">Although practicality beats purity.</p>
                <p class="post">Unless explicitly silenced.</p>
                <p class="post">In the face of ambiguity, refuse the temptation to guess.</p>
                <p class="post">There should be one-- and preferably only one --obvious way to do it.</p>
                <p class="post">Although that way may not be obvious at first unless you're Dutch.</p>
                <p class="post">Now is better than never.</p>
                <p class="post">Although never is often better than *right* now.</p>
                <p class="post">If the implementation is hard to explain, it's a bad idea.</p>
                <p class="post">If the implementation is easy to explain, it may be a good idea.</p>
                <p class="post">Namespaces are one honking great idea -- let's do more of those!</p>
              </blockquote>

              <a>@trungbat</a>.
              <a href="#">#Data Science</a>
              <a href="#">#Django</a>
              <a href="#">#JQuert/Ajax</a>
              <a href="#">#RESTful</a>
              <a href="#">#Python</a>
              <a href="#">#SQL</a>
              <br>

               
              <time datetime="2018-02-02">10:42 PM - 15 / 10 / 2018</time>
            </div>
          </div>
        </div>
        <!-- end content -->
      </div>
      <button class="modal-close is-large" aria-label="close"></button>
    </div>
    <!-- end tiny modal card -->

{% endif %}