{% extends "base.html" %}

{% block title %}
    
{% endblock title %}


{% block content %}
 
    <section class="hero is-info is-medium is-bold">
      <div class="hero-body" style="background-image: url('{{post.image.url}}');">
        <div class="container has-text-centered">
          <h1 class="title">
            {{post.title}}
          </h1>
          <!-- <h2 class="subtitle">
          Dựa trên  <a href="http://bulma.io">TB</a> Django Framework
          </h2> -->
      
            
         <!--    <h4 class="bd-footer-title">
              <strong>Tương tác</strong> trên GitHub
            </h4>
 -->
            <div class="bd-footer-iframe">
              <iframe src="https://ghbtns.com/github-btn.html?user=jgthms&repo=bulma&type=star&count=true&size=large" allowtransparency="true" frameborder="0" scrolling="0" width="160px" height="30px"></iframe>

              <iframe src="https://ghbtns.com/github-btn.html?user=jgthms&type=follow&count=true&size=large" frameborder="0" scrolling="0" width="170px" height="30px"></iframe>
            </div>




        </div>
      </div>
    </section>


    
    <section class="section">
    <section class="container">
      <div class="columns">
        <div class="column is-3 relative">
          <!-- <a class="button is-primary is-block is-alt is-large" href="#"> Đặt câu hỏi</a>
           -->
            <aside class="menu">

              {% include 'blog/aside.html' %}
              
            </aside>
           
            <p class="post menu-label">
               Nội dung bài viết
            </p>
            <div class="box fixed">

                <ul class="menu-list">
                {% for module in modules %}
                <a href="#{{module.title|slice:':6'}}" style="color: #1eaedb;"><li class="fa fa-check-circle"></li><b> &nbsp;{{module.title}}</b></a>

                {% endfor %}
                </ul>

               </div>

        </div>

        <div class="column is-8">
            

            <div class="content is-medium">
              

            {% for module in modules %}
            
            <h3 id= '{{module.title|slice:':6'}}' class="title is-3">{{module.title}}</h3>
              <div class="box">
                {{module.content|safe}}
              </div>
            {% endfor %}

          
           </div>
        </div>



      </div>
    </section>
  </section>
      
  {% endblock content %}



{% block footer %}
<footer class="footer">
        

  <section class="section">
    <h3 class="title is-3">Bài viết liên quan</h3>
    <div class="container">

      <div class="columns is-multiline">
        <div class="column is-one-third">
          <article class="notification media has-background-white">
            <figure class="media-left">
              <span class="icon">
                <i class="has-text-warning fas fa-columns fa-lg"></i>
              </span>
            </figure>
            <div class="media-content">
              <div class="content">
                <h1 class="title is-size-4">Columns</h1>
                <p class="is-size-5 subtitle">
                  The power of <strong>Flexbox</strong> in a simple interface
                </p>
              </div>
            </div>
          </article>
        </div>
        <div class="column is-one-third">
          <article class="notification has-background-white media">
            <figure class="media-left">
              <span class="icon has-text-info">
                <i class="fab fa-lg fa-wpforms"></i>
              </span>
            </figure>
            <div class="media-content">
              <div class="content">
                <h1 class="title is-size-4">Form</h1>
                <p class="is-size-5 subtitle">
                  The indispensable <strong>form controls</strong>, designed for maximum clarity
                </p>
              </div>
            </div>
          </article>
        </div>
        <div class="column is-one-third">
          <article class="notification has-background-white media">
            <figure class="media-left">
              <span class="icon has-text-danger">
                <i class="fas fa-lg fa-cubes"></i>
              </span>
            </figure>
            <div class="media-content">
              <div class="content">
                <h1 class="title is-size-4">Components</h1>
                <p class="is-size-5 subtitle">
                  Advanced multi-part components with lots of possibilities
                </p>
              </div>
            </div>
          </article>
        </div>
        

      </div>


      <section class="section columns">
          <div class="container has-text-centered column is-10 is-offset-1">
              <h2 class="title">Liên hệ</h2>

              <form>
                  <div class="field is-horizontal">
                      <div class="field-body">
                          <div class="field">
                              <p class="control has-icons-left">
                                  <input class="input" type="text" placeholder="Name">
                                  <span class="icon is-small is-left">
                                      <i class="fas fa-user"></i>
                                  </span>
                              </p>
                          </div>
                          <div class="field">
                              <p class="control has-icons-left has-icons-right">
                                  <input class="input" type="email" placeholder="Email">
                                  <span class="icon is-small is-left">
                                      <i class="fas fa-envelope"></i>
                                  </span>
                              </p>
                          </div>
                      </div>
                  </div>

                  <div class="field is-horizontal">
                      <div class="field-body">
                          <div class="field">
                              <div class="control">
                                  <textarea class="textarea" placeholder="Message"></textarea>
                              </div>
                          </div>
                      </div>
                  </div>

                  <div class="field is-horizontal">
                      <div class="field-body">
                          <div class="field">
                              <div class="control">
                                  <button class="button" style="background-color: #1eaedb; color: #fff;">
                                      Send message
                                  </button>
                              </div>
                          </div>
                      </div>
                  </div>
              </form>
          </div>
      </section>
    </footer>


    
{% endblock footer %}
