{% extends "base.html" %}
{% load static %}
{% block title %}
    Trang chủ
{% endblock title %}

{% block content %}
  

 <section class="hero">
      <div class="hero-body">
        <div class="columns">
          <div class="column is-12">
            <div class="container content">
              <i class="is-large fab fa-discord"></i>
              <i class="is-large fas fa-code"></i>
              <h1 class="title">Lập trình <em><span style="color: #1eaedb">Ứng Dụng</span></em> thực tế</h1>
              <h3 class="subtitle">
              Chú trọng tới điều nhỏ nhặt tạo nên sự khác biệt lớn
              </h3>
              <a href="https://github.com/batTrung" target="_blank" class="button is-primary is-large">
                <span class="icon">
                  <i class="fab fa-github"></i>
                </span>
                <span>Github</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>

    
    <section class="section">
    <section class="container">
      <div class="columns">
        <div class="column is-3">
          <!-- <a class="button is-primary is-block is-alt is-large" href="#"> Đặt câu hỏi</a> -->
          <aside class="menu">
               

          {% include 'blog/aside.html' %}

          </aside>




        </div>
        <div class="column is-8">
          <h3 class="title is-3">Bài viết</h3>
          <div class="box content">
            {% for post in posts %}
            <article class="post">
              <h2><a href="{{post.get_absolute_url}}">{{ post.title}}</a></h2>
              <div class="media">
                <div class="media-left">
                  <p class="image is-32x32">
                    <img src="//c1.staticflickr.com/2/1951/45268526282_1ef1982ff2_m.jpg">
                  </p>
                </div>
                <div class="media-content">
                  <div class="content">
                    <p>
                      <a>@{{post.owner}}&nbsp; </a><i class="fa fa-clock-o"></i> {{post.created|timesince}} trước &nbsp; <!-- <i class="fa fa-eye"></i> 54 lượt xem  --><span class="tag">Chia sẻ </span>&nbsp; 
                      
                      

                    </p>
                  </div>
                </div>
                <!-- <div class="media-right">
                  <span class="has-text-grey-light"><i class="fa fa-comments"></i> 1</span>
                </div> -->
              </div>
              <br>
              {% if post.image %}
                  
                 <img class="home_image" src="{{post.image.url}}" alt="">
              {% else %}
                 <img class="home_image" src="{% static 'images/tem.png' %}" alt="">
              {% endif %}

               <p class="post">MU đang trong một mùa bóng có rất nhiều điều bất định. “Quỷ Đỏ” có giành được vé dự Champions League? HLV Jose Mourinho có tiếp tục tại vị? CEO Ed Woodward có phải nhường chức? Và thậm chí không dưới 10 cầu thủ sẽ hết hợp đồng sau mùa giải và không có nhiều người đang được mời gia hạn.</p>
               
               
               <a href= '{{post.get_absolute_url}}' style="background-color: #1eaedb" class="button is-danger is-xanh">Xem thêm</a>
            </article>
            {% endfor %}
            
          </div>
        </div>



      </div>
    </section>
  </section>
  
{% endblock content %}

