<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="shortcut icon" href="{% static 'images/avatar.jpg' %}" type="image/x-icon">
  <link rel="apple-touch-icon" sizes="144x144" type="image/x-icon" href="{% static 'images/avatar.jpg' %}">

  <title>{% block title %}
      
  {% endblock title %}</title>
  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

  <link rel="stylesheet" href="{% static 'css/bulma.min.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
  <link rel="stylesheet" href="{% static 'css/modal-fx.min.css' %}" />
  <link rel="stylesheet" href="{% static 'css/hero.css' %}">


</head>
<body>
    <nav class="navbar">
        <div class="container">
            <div class="navbar-brand">
                <a class="navbar-item" href='{% url 'list_post' %}'>
                        <img src="{% static 'images/poster.jpg' %}" alt="Logo">
                    </a>
                <span class="navbar-burger burger" data-target="navbarMenu">
                        <span></span>
                <span></span>
                <span></span>
                </span>
            </div>
            <div id="navbarMenu" class="navbar-menu">
                <div class="navbar-end">
                    <a href = '{% url 'list_post' %}' class="navbar-item ">
                           <i class="fa fa-home"></i>&nbsp;   Trang chủ
                        </a>
                    <a class="navbar-item">
                           <i class="fab fa-youtube"></i>&nbsp;  Youtube
                        </a>
                    <a class="navbar-item">
                           <i class="fa fa-pencil-square"></i>&nbsp; Bài viết
                        </a>
                   
                    <a class="navbar-item">
                           <i class="fa fa-paper-plane"></i>&nbsp; Liên hệ
                        </a>
                    <a class="navbar-item">
                           <i class="fa fa-book"></i>&nbsp; Sách
                        </a>
                    <a class="navbar-item">
                           <i class="fa fa-search-plus"></i>&nbsp; Tìm kiếm
                        </a>
                    <!-- <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link">
                                Tài khoản
                            </a>
                        <div class="navbar-dropdown">
                            <a class="navbar-item">
                                    Cài dặt chung
                                </a>
                            <a class="navbar-item">
                                    Hồ sơ cá nhân
                                </a>
                            <a class="navbar-item">
                                    Cài đặt
                                </a>
                            <hr class="navbar-divider">
                            <div class="navbar-item">
                                Đăng xuất
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
    </nav>

    {% block content %}
        
    {% endblock content %}
    {% block footer %}
        
    {% endblock footer %}
    <div class="columns is-mobile is-centered">
      <div class="field is-grouped is-grouped-multiline">
        <div class="control">
          <div class="tags has-addons"><a class="tag is-link" href="https://github.com/dansup/bulma-templates">Bulma Templates</a>
            <span class="tag is-info">MIT license</span>
          </div>
        </div>
        <div class="control">
          <div class="tags has-addons">
            <span class="tag is-dark">based on a pen</span>
            <span class="tag has-addons is-warning"><a href="https://codepen.io/melanieseltzer/pen/odOXWM"><i class="fab fa-lg fa-codepen"></i></a></span>
          </div>
        </div>
      </div>
    </div>




      <script async type="text/javascript" src="{% static 'js/main.js' %}"></script>
      <script async type="text/javascript" src="{% static 'js/aside.min.js' %}"></script>
      
</body>
</html>